<h1>Your Profile</h1>
<div class="left" *ngIf="hide; else edit">
  <div>
    <h1 class="titles">Name:</h1>
    <input name="name" value="Ben Boswell">
  </div>
  <div>
    <h1 class="titles">Email:</h1>
    <input name="email" value="ben@s56.net">
  </div>
  <div>
    <h1 class="titles">Password:</h1>
    <mat-form-field appearance="fill">
      <input value="FakePass445" class="pw" matInput [type]="phide ? 'password' : 'text'">
      <button type="button" (click)="phide = !phide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="phide">
        <mat-icon>{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button type="button" (click)="hide=!hide">Submit</button>
</div>
<ng-template #edit>
  <div>
    <h1 class="titles">Name:</h1>
    <input readonly name="name" value="Ben Boswell">
  </div>
  <div>
    <h1 class="titles">Email:</h1>
    <input readonly name="email" value="ben@s56.net">
  </div>
  <div>
    <h1 class="titles">Password:</h1>
    <mat-form-field appearance="fill">
      <input readonly value="FakePass445" class="pw" matInput [type]="phide ? 'password' : 'text'">
      <button type="button" (click)="phide = !phide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="phide">
        <mat-icon>{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button type="button" (click)="hide=!hide">Edit</button>
</ng-template>

