.top {
  background-color: #4AE7AD;
}
.home:hover{
  text-decoration: underline;
  cursor: pointer;
}
.bottom {
  background-color: #4EF6B8;
}
h1, span {
  font-size: 36px;
}
h1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.space {
  flex: 1 1;
}
.login:hover {
  text-decoration: underline;
  cursor: pointer;
}
h2{
  font-size: 24px;
  padding-top: 15px;
}
h2:hover {
  text-decoration: underline;
  cursor: pointer;
}
button {
  background-color:#11195F;
  color: #4EF6B8;
  font-size: 24px;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
}
