<mat-toolbar class="top">
  <h1 class="home" routerLink="Home">MF-rate</h1>
  <span class="space"></span>
  <h1 class="login" routerLink="login">Login</h1>
  <span class="slash">/</span>
  <h1 routerLink="new-account">Create Account</h1>
</mat-toolbar>
<mat-toolbar-row class="bottom">
  <h2 class routerLink="about-us">About Us</h2>
  <span class="space"></span>
  <h2>Reviews</h2>
  <span class="space"></span>
  <h2>Suggestions</h2>
  <span class="space"></span>
  <h2 routerLink="profile">Your Profile</h2>
  <span class="space"></span>
  <button type="button" routerLink="new-review"><span>New Review</span></button>
</mat-toolbar-row>
