h1 {
  color: white;
  margin: 20px;
  font-size: 24px;
}
input {
  font-size: 24px;
  margin: 20px;
  padding: 15px;
  width: 95%;
}
.bold {
  font-weight: bold;
}
.bold:hover {
  text-decoration: underline;
}
button {
  margin: 20px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #11195F;
  color: white;
  padding: 7px;
  border: 0;
  transition: all 0.5s;
}
button:hover {
  background-color: black;
  color: #4EF6B8;
}
