<h1>Create Account</h1>
<div class="left">
  <form>
    <div>
      <div>
        <input name="name" placeholder="Name:">
      </div>
    </div>
    <div>
      <input name="email" placeholder="Email:">
    </div>
    <div>
      <input name="password" type="password" placeholder="Password:">
    </div>
    <div>
      <input name="retype-password" type="password" placeholder="Re-type Password:">
    </div>
  </form>
  <div>
    <button type="submit">Submit</button>
  </div>
</div>
<div class="right">
<app-img-upload></app-img-upload>
</div>
