<h1>Create Account</h1>
<form>
  <div>
    <input name="name" placeholder="Name:">
    <img *ngFor="let url of urls" [src]="url" alt="img" height="200">
    <input type="file" (change)="onselect($event)">
  </div>
  <div>
    <input name="email" placeholder="Email:">
  </div>
  <div>
    <input name="password" type="password" placeholder="Password:">
  </div>
  <div>
    <input name="retype-password" type="password" placeholder="Re-type Password:">
  </div>
</form>
<div>
  <button type="submit">Submit</button>
</div>
