<div>
  <h1> Write a new review:</h1>
</div>
<form>
  <input name="name" placeholder="Name/Email:">
  <div class="buttons">
    <h1 style="margin-bottom: -10px">Do you recommend this person?</h1>
    <input name="goodbad" id="bad" type="radio" value="Don't Recommend">
    <label for="bad">Don't Recommend.</label>
    <input name="goodbad" id="good" type="radio" value="Recommend">
    <label for="good">Recommend.</label>
  </div>
  <div>
    <input name="title" placeholder="Title:">
  </div>
  <div>
    <input class="body" name="body" placeholder="Body:">
  </div>
  <div class="submit">
    <button type="button">Submit</button>
  </div>
</form>
